*{
	margin:0;padding:0;box-sizing:border-box;
	border-radius:5px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
	display:inline-block;
}
/*按钮类*/
button{
	padding:10px 15px 10px 15px;
	margin:15px;
	background-image:linear-gradient(to bottom,#eef6ff,#e8f1f9);
	border:1px solid #a8c3e2;
	cursor:pointer;
}
button:hover{
	border:1px solid #fe7e00;
	cursor:pointer;
}
/*主框架*/
#main{
	width:1200px;
	margin:50px auto;
	position:relative;
}
/*登录界面*/
#ulogin{
	width:300px;
	margin:10px 0 0 10px;
	text-align:center;
	padding:20px 0 10px 0;
	position:absolute;
	border:1px solid #c3d9ff;
	height:200px;
}
#ulogin>input{
	margin-bottom:15px;
	width:170px;
	padding:5px;
	font-size:20px;
	vertical-align:middle;
}
/*版块列表*/
#formList{
	width:300px;
	height:300px;
	background:#ecf4fd;
	margin:10px 0 0 10px;
	position:absolute;top:210px;
	border:1px solid #c3d9ff;
}
#formList>ul>li{
	margin:15px;
	padding:5px;
	text-align:center;
}
#formList>ul>li>a{
	cursor:pointer;
}
#formList>ul>li>a:hover{
	color:#65ace5;
}
.boardSel{
	font-weight:bold;
}
/*搜索框*/
#searchThreads{
	text-align:center;
}
#searchThreads>input{
	font-size:16px;
	padding:5px;
	border-radius:5px;
}
#searchThreads>ul{
	background:#fff;
	width:200px;
	margin:0 auto;
	display:none;
}
#searchThreads>ul li:first-child{
	margin-top:0;
}
#searchThreads>ul li{
	margin:5px auto 5px;
	line-height: 30px;
}
#searchThreads>ul li:hover{
	background:#fbf5d9;
}
#searchThreads>ul li>a{
	font-size:14px;
}
/*讨论区*/
#dis{
	margin:10px;
	position:absolute;
	right:0;
	width:850px;
	border:1px solid #c3d9ff;
	height:290px;
}
#dis>div{
	height:200px;
	overflow:auto;
}
/*讨论区标题*/
#disTitle{
	background:#fbf5d9;
	border:1px solid #f2df95;
}
#dis ul{
	overflow:hidden;
}
#dis ul>li{
	float:left;
	margin:10px;
	padding:5px;
	text-align:center;
}
#dis #disTitle>li:nth-child(2){
	width:13%;
}
/*讨论区内容*/
#dis ul>li:first-child{
	width:50%;
}
#dis ul>li:last-child{
	width:27%;
}
#dis ul>li:nth-child(2){
	width:15%;
}
#dis ul.disMain:not(:last-child){
	border-bottom:1px solid #dce9f5;
}
#dis ul.disMain>li:first-child{
	text-align:left;
}
#dis ul.disMain>li:first-child>a{
	color:#fe897a;
}
ul.disMain:hover{
	background:#fbf5d9;
}
/*发帖区*/
#postCont{
	margin:10px;
	position:absolute;
	right:0;
	top:300px;
	width:850px;
	text-align:center;
}
#postCont>input{
	width:770px;
	padding:5px;
	font-size:20px;
	margin:10px;
}
#postCont>textarea{
	width:770px;
	padding:5px;
	height:80px;
	font-size:20px;
	margin:10px;
}
/*用户注册*/
#shelter{
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	opacity:0.8;
	background:#eee;
	display:none;
	overflow:hidden;
}
#ureg{
	background:#fbf5d9;
	width:300px;
	text-align:center;
	padding:15px;
	position:absolute;top:15%;left:40%;
}
#ureg>span{
	display:inline-block;
	color:#e22024;
	font-size:16px;
	font-weight:bold;
	height:16px;
	margin-top:20px;
}
#ureg>input{
	margin:15px 0 15px 0;
	width:170px;
	padding:5px;
	font-size:20px;
	vertical-align:middle;
}
#ureg>a{
	position:absolute;top:10px;right:10px;
}
/*帖子内容*/
#tcontent{
	width:600px;
	height:400px;
	border:1px solid #a6c9e2;
	position:absolute;top:100px;right:50%;
	margin-right:-300px;
	background:#fff;
	padding:10px;
	text-align:center;
	display:none;
}
#tcontent>p{
	padding:10px;
	text-align:center;
	font-weight:bold;
	background-image:linear-gradient(to bottom,#84b5d9 0,#79add5 50%,#6da6d1 100%);
}
#tcontent>div{
	width:500px;
	height:250px;
	margin:20px auto;
	overflow:auto;
	text-align:left;
}
#tcontent>button{
	margin:5px;
}
